
.cell {
  height: 24px;
  width: 24px;
  background-color: beige;
  outline: solid 1px #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  cursor: pointer;
}

.cell img {
  height: 20px;
  width: 20px;
}

.block {
  background-color: black;
}
