
.grid-container {
  padding-top: 3em;
  display: inline-block;
}

.btn {
  margin: 1em;
  width: 150px;
  font-weight: 400;
}

.input {
  background-color: #085E7D;
  display: block;
}

.btn-primary {
  background-color: #084594;
}